In [2]:
#Handle necessary imports
import numpy as np 
import pandas as pd 
import os
pd.set_option('max_colwidth', 500)
pd.set_option('max_columns', 500)
pd.set_option('max_rows', 100)

In [ ]:
#First, we load the IMDB movie dataset. Since all reviews are in seperate
#.txt files, first we read them all in and add them to two lists. Then we create two dataframes 
#(1 for positive, 1 for negative),In which we have two columns: Reviews with review content, and sentiment with sentiment 
# value (1=positive, 0=negative).We repeat this process twice, once for the train data and one for the test data. 
# We save the results to csv files, so we don't ever have to re-do the process. 
# Then we create one big data-frame by appending the train dataframe to the test dataframe. 
pos_test_files = os.listdir("C:/Users/Yme/Documents/MEGA/Master DSE/Data Mining/Assignments/Assignment 3/data/aclImdb/test/pos")
neg_test_files = os.listdir("C:/Users/Yme/Documents/MEGA/Master DSE/Data Mining/Assignments/Assignment 3/data/aclImdb/test/neg")
pos_train_files = os.listdir("C:/Users/Yme/Documents/MEGA/Master DSE/Data Mining/Assignments/Assignment 3/data/aclImdb/train/pos")
neg_train_files = os.listdir("C:/Users/Yme/Documents/MEGA/Master DSE/Data Mining/Assignments/Assignment 3/data/aclImdb/train/neg")

train_pos_list = []
for file in pos_train_files:
    with open("C:/Users/Yme/Documents/MEGA/Master DSE/Data Mining/Assignments/Assignment 3/data/aclImdb/train/pos/{}".format(file), 'r', encoding='utf-8') as fd:
        text = fd.read()
        train_pos_list.append(text)

train_neg_list = []
for file in neg_train_files:
    with open("C:/Users/Yme/Documents/MEGA/Master DSE/Data Mining/Assignments/Assignment 3/data/aclImdb/train/neg/{}".format(file), 'r',encoding='utf-8') as fd:
        text = fd.read()
        train_neg_list.append(text)

train_data_pos = {'label' : 1, 'text': train_pos_list}
train_data_neg = {'label' :0, 'text': train_neg_list}
train_data_frame_complete = pd.DataFrame(train_data_pos).append(pd.DataFrame(train_data_neg)).reset_index(drop=True)
train_data_frame_complete.to_csv('imdb_train.csv', index=False)

test_pos_list = []
for file in pos_test_files:
    with open("C:/Users/Yme/Documents/MEGA/Master DSE/Data Mining/Assignments/Assignment 3/data/aclImdb/test/pos/{}".format(file), 'r', encoding='utf-8') as fd:
        text = fd.read()
        test_pos_list.append(text)

test_neg_list = []
for file in neg_test_files:
    with open("C:/Users/Yme/Documents/MEGA/Master DSE/Data Mining/Assignments/Assignment 3/data/aclImdb/test/neg/{}".format(file), 'r',encoding='utf-8') as fd:
        text = fd.read()
        test_neg_list.append(text)

test_data_pos = {'label' : 1, 'text': test_pos_list}
test_data_neg = {'label' :0, 'text': test_neg_list}
test_data_frame_complete = pd.DataFrame(test_data_pos).append(pd.DataFrame(test_data_neg)).reset_index(drop=True)
test_data_frame_complete.to_csv('imdb_test.csv', index=False)

In [3]:
#Then we load all data, and create one big csv file. This csv file has the first 25k rows as "train data", and 
#the last 25k rows as "test data". Of course, this division is arbitrary (It was the way the dataset was divided when downloaded),
#and we can specify our own train/test ratio later on. 
# df_imdb_train = pd.read_csv("imdb_train.csv")
# df_imdb_test = pd.read_csv("imdb_test.csv")
# imdb_final = df_imdb_train.append(df_imdb_test, ignore_index=True)
# imdb_final.to_csv("imdb_final.csv", index=False)

# Print some information to check if all went well. We still have to do some pre-processing.
#We see that there is still some HTML tags in the data. Also,there is some punctuation, and special characters.
#Additional pre-processing will be needed. 
imdb_final = pd.read_csv("imdb_final.csv")
display(imdb_final.sample(3, random_state=1))

,label,text
26247,1,"Fame is one of the best movies I've seen about The Performing Arts. The music and the acting are excellent. The screenplay and Set Design are also excellent. My favorite part is when all the students start Dancing and making music in the Canteen. I can see this movie any number of times, and never get bored. I give it 8 1/2 on 10."
35067,1,"This movie fully deserves to be one of the top Hindi comedies ever made . Rajkumar Santoshi is mostly known for his gritty hard-hitting social dramas , but this is easily the most effortless movie he has made .<br /><br />The plot revolves around two small-town buffoons Amar (Aamir Khan) and Prem (Salman Khan) . They want to get rich quick and so move to the big city . They hatch the same plan separately - to woo a rich heiress Raveena (Raveena Tandon) who is the daughter of a rich businessm..."
34590,1,"in a time of predictable movies, in which abound violence, cheap romance and melodrama, it is delightfully surprising to find such a strange movie. the plot itself is compelling, and the actors are excellent, especially Alan Rickman. If you want to watch a movie that does not provide all the answers before asking the questions, a movie that will surprise you (in good or bad), Dark Harbor's for you. And if you're not convinced, believe me that Alan Rickman's performance is well worth it... es..."

In [4]:
#Then, we load in Twitter data. The dataset we used is a "dumbed down/light version" of the Sentiment140 dataset that was 
#provided in the link you gave us. http://help.sentiment140.com/ is the source of the original dataset; and it can be found 
#https://www.kaggle.com/kazanova/sentiment140 here in its full form. However, we stumbled upon a more suitable version of the dataset
#here: https://www.kaggle.com/ywang311/twitter-sentiment. This dataset doesn't have all the columns we do not need.
#Since we want to compare the IMDB movie ratings sentiments with the twitter sentiment, we filter all tweets about movies.  
twitter = pd.read_csv("C:/Users/Yme/Documents/MEGA/Master DSE/Data Mining/Assignments/Assignment 3/data/Sentiment Analysis Dataset 2.csv", skiprows=[8835,535881] , usecols = ['Sentiment' , 'SentimentText'])
twitter = twitter.rename(columns = {'Sentiment': 'label' , 'SentimentText':'text'})
display(twitter.sample(6))

,label,text
339626,1,"@nameofthegame Oh that's fine! I wasn't watching it, just the feed about it on here! That explains it"
509080,1,"@thatjames Isn't it those open flap, easy access type things? And yes, wink wink wiggle wiggle smarty pants outed himself!"
1201458,0,Thinking I was asleep I remember my parents talking shit. Things like &quot;she's only decent looking bc of me&quot; or &quot;she's ugly bc of you&quot;
999557,1,mentally preparing for a jog and then off to London for the weekend with Josh x
148296,1,@eoghanquigg ii Have The Cd ii Lovee When you look me in the eyes My Fav
53094,1,"@azmomofmanyhats Its in God's hands; if it doesn't pan out, there's a reason, so I'm not worried since I did my best"

In [5]:
# Remove link, user, special characters and stopwords.
import nltk
from nltk.corpus import stopwords
import re

stop_words = stopwords.words("english")

#Please note that this somewhat complex regex was found online... First we did
# a lot of the pre-processing manually, but then we stumbled upon this regex 
#And are very happy that smart people took care of building this regex for us =)
TEXT_CLEANING_RE = "@\S+|https?:\S+|http?:\S|[^A-Za-z0-9]+"

def preprocess(text):
    text = re.sub(TEXT_CLEANING_RE, ' ', str(text).lower()).strip()
    tokens = []
    for token in text.split():
        if token not in stop_words:
                tokens.append(token)
    return " ".join(tokens)

imdb_final['text'] = imdb_final['text'].apply(lambda x: preprocess(x))
display(imdb_final.sample(3, random_state=1))

twitter['text'] = twitter['text'].apply(lambda x: preprocess(x))
display(twitter.sample(3, random_state=1))

,label,text
26247,1,fame one best movies seen performing arts music acting excellent screenplay set design also excellent favorite part students start dancing making music canteen see movie number times never get bored give 8 1 2 10
35067,1,movie fully deserves one top hindi comedies ever made rajkumar santoshi mostly known gritty hard hitting social dramas easily effortless movie made br br plot revolves around two small town buffoons amar aamir khan prem salman khan want get rich quick move big city hatch plan separately woo rich heiress raveena raveena tandon daughter rich businessman ramgopal bajaj paresh rawal thus one marries raveena gets hands wealth get know plan intense tussle one oneupmanship marries raveena hilarious...
34590,1,time predictable movies abound violence cheap romance melodrama delightfully surprising find strange movie plot compelling actors excellent especially alan rickman want watch movie provide answers asking questions movie surprise good bad dark harbor convinced believe alan rickman performance well worth especially end ladies

,label,text
1564943,1,well time bed 5 00 comes early nice chatting everyone good evening rest weekend left
1287022,1,defyingsantafe umm forget gay socialist atheists
1526836,0,mom nearly got ran truck bike dropped work bag information stolen fb

In [6]:
#Tokenize the words (This breaks up the strings into a list of words or pieces)
twitter['text'] = [_text.split() for _text in twitter['text']] 
imdb_final['text'] = [_text.split() for _text in imdb_final['text']] 
display(twitter.sample(3, random_state=1)) 
display(imdb_final.sample(3, random_state=1))

,label,text
1564943,1,"[well, time, bed, 5, 00, comes, early, nice, chatting, everyone, good, evening, rest, weekend, left]"
1287022,1,"[defyingsantafe, umm, forget, gay, socialist, atheists]"
1526836,0,"[mom, nearly, got, ran, truck, bike, dropped, work, bag, information, stolen, fb]"

,label,text
26247,1,"[fame, one, best, movies, seen, performing, arts, music, acting, excellent, screenplay, set, design, also, excellent, favorite, part, students, start, dancing, making, music, canteen, see, movie, number, times, never, get, bored, give, 8, 1, 2, 10]"
35067,1,"[movie, fully, deserves, one, top, hindi, comedies, ever, made, rajkumar, santoshi, mostly, known, gritty, hard, hitting, social, dramas, easily, effortless, movie, made, br, br, plot, revolves, around, two, small, town, buffoons, amar, aamir, khan, prem, salman, khan, want, get, rich, quick, move, big, city, hatch, plan, separately, woo, rich, heiress, raveena, raveena, tandon, daughter, rich, businessman, ramgopal, bajaj, paresh, rawal, thus, one, marries, raveena, gets, hands, wealth, get..."
34590,1,"[time, predictable, movies, abound, violence, cheap, romance, melodrama, delightfully, surprising, find, strange, movie, plot, compelling, actors, excellent, especially, alan, rickman, want, watch, movie, provide, answers, asking, questions, movie, surprise, good, bad, dark, harbor, convinced, believe, alan, rickman, performance, well, worth, especially, end, ladies]"

In [7]:
#Since our goal is to compare tweets about movies and imdb movie reviews, we filter the twitter dataset
#on movie-related words. Please note that this list is completely arbitrary, and it is an assumption
#that all the tweets which have these words in them are actually about movies.
MOVIE_RELATED_WORDS = set(["movie", "movies", "watch", 
                           "watching", "film", "cinema", 
                           "actor", "thriller", 
                           "horror", "dvd", "bluray", "soundtrack", 
                            "director", "remake", "blockbuster"])

def contains_movie_word(words):
    return any(word in MOVIE_RELATED_WORDS for word in words)

twitter['is_movie_related'] = twitter['text'].apply(contains_movie_word)
twitter_movie = twitter[twitter['is_movie_related']==True]
display(twitter_movie.sample(6, random_state=1))

,label,text,is_movie_related
871270,0,"[want, watch, dora, movieeeeee]",True
1185304,1,"[saw, speidi, today, lots, amazing, car, including, aston, martin, new, bond, movie]",True
1562816,0,"[watching, da, vinci, code, alone, appartment]",True
91151,1,"[hey, 2, u, 2, wanna, watch, awards, lol]",True
1057186,1,"[nvm, earphones, watched, wizards, waverly, place, online, lol, felt, like, watching, thanks, internet]",True
4058,1,"[wonderful, way, waste, day, watching, harold, kumar, movies]",True

In [8]:
#Check lengths and sizes of vocabulary so we can generate proper paddings
imdb_sentence_lengths = [len(tokens) for tokens in imdb_final["text"]]
all_imdb_words = [word for tokens in imdb_final["text"] for word in tokens]
unique_imdb_words = sorted(list(set(all_imdb_words)))
print("IMDB has {} words total, with a vocabulary size of {}".format(len(all_imdb_words), len(unique_imdb_words)))
print("Max sentence length of IMDB review is {}".format(max(imdb_sentence_lengths)))

twitter_sentence_lengths = [len(tokens) for tokens in twitter_movie["text"]]
all_twitter_words = [word for tokens in twitter_movie["text"] for word in tokens]
unique_twitter_words = sorted(list(set(all_twitter_words)))
print("Twitter has {} words total, with a vocabulary size of {}".format(len(all_twitter_words), len(unique_twitter_words)))
print("Max sentence length of tweet is {}".format(max(twitter_sentence_lengths)))

IMDB has 6181804 words total, with a vocabulary size of 100946
Max sentence length of IMDB review is 1455
Twitter has 478478 words total, with a vocabulary size of 35700
Max sentence length of tweet is 27

In [9]:
#For a basic representation to train our first neural network, we use a  CountVectorizer. 
#This is one of the most "simple" text embeddings. In Question 2 we will try another (more suitable) one.
#This provides a simple way to tokenize a collection of text  documents and build a vocabulary of known words. 
#We chose this approach instead of the one-hot encoding you suggested to us. The reason for this is you referred us to
#lecture 8, but lecture 8 uses the built in get_word_index() function from the imdb dataset, 
#which we cannot use for present data. We spent a lot of time building the movie-filter, and we built it for the tokenized data,
#Having in mind that we would do the one-hot encoding later. However, since trying to one-hot encode took too long we switched
#to this method. This method only works for un-tokenized data as it automatically tokenizes it, therefore we re-tokenize the data
#to get it to work, because we do not want to rewrite the above function. It is a somewhat dirty workaround but it does the trick
twitter_movie['text'] = [" ".join(_text) for _text in twitter_movie['text']] 
imdb_final['text'] = [" ".join(_text) for _text in imdb_final['text']]


# #Write files to pickle for later use
twitter_movie.to_pickle("twitter_pre_processed.pkl")
imdb_final.to_pickle("imdb_pre_processed.pkl")

C:\Users\Yme\Anaconda3\envs\Datamining3.6\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [12]:
imdb_pre_processed = pd.read_pickle("imdb_pre_processed.pkl")
twitter_pre_processed = pd.read_pickle("twitter_pre_processed.pkl")

display(imdb_pre_processed.sample(5))
display(twitter_pre_processed.sample(5))

#Convert to numpy arrays
sentences_imdb = imdb_pre_processed['text'].values
y_imdb = imdb_pre_processed['label'].values

sentences_twitter = twitter_pre_processed['text'].values
y_twitter = twitter_pre_processed['label'].values

#Generate a train-test split
from sklearn.model_selection import train_test_split
sentences_train_imdb, sentences_test_imdb, y_train_imdb, y_test_imdb = train_test_split(sentences_imdb, 
                                                                                        y_imdb, test_size=0.25, random_state=47)

sentences_train_twitter, sentences_test_twitter, y_train_twitter, y_test_twitter = train_test_split(sentences_twitter, 
                                                                                        y_twitter, test_size=0.25, random_state=47)

from sklearn.feature_extraction.text import CountVectorizer


vectorizer_imdb = CountVectorizer(max_features=10000)
vectorizer_imdb.fit(sentences_train_imdb)
X_train_imdb = vectorizer_imdb.transform(sentences_train_imdb)
X_test_imdb  = vectorizer_imdb.transform(sentences_test_imdb)

vectorizer_twitter = CountVectorizer(max_features=10000)
vectorizer_twitter.fit(sentences_train_twitter)
X_train_twitter = vectorizer_twitter.transform(sentences_train_twitter)
X_test_twitter  = vectorizer_twitter.transform(sentences_test_twitter)

,label,text
15043,0,wow rarely felt need comment movies lately one especially begging beatdown let start beginning first writer director susan montford puts kim basinger tired old victim role complete requisite abusive husband dull suburban existence let said right almost content dull movie completely hackneyed trite montford pathetic attempt symbolism involving christmas tree star laughable br br goes christmas wrapping paper one dark ominous night della furious somebody double parked car busiest shopping nigh...
44477,0,film heaven gate good view although still tedious 4 hours film took great license usual hollywood james averill chris christopherson elle actually married real life main contribution johnson county war start hanged well starting mean came beginning end real scenario james averill ellen watson secretly married one homestead could given family filing single individuals could get two homesteads chose homesites crazy woman creek actually controlling water land held powerful member cattleman asso...
15041,0,making film dark visually fuzzy possible order cover budget deficiencies often used strategy low budget horror films one takes far poorly lit murky takes place almost entirely night boot often end virtually looking black screen although perhaps bad video transfer may also something alas murky also best word describe movie plot filmmakers throw diverse unoriginal horror ideas without semblance logic halfway get feeling abandoned effort make good horror film know see characters supposed mortal...
21494,0,big fan karishma kapoor govinda watched film seen fiza absolutley brilliant br br films bad films cr p film takes biscuit br br annoyed conned paying money expecting decent film br br avoid cost dont even rent br br 1 10
2520,1,four macho rough n tumble guys three sexy gals venture remote woodland area hunt bear motley coed group runs afoul crazed vietnam veteran jesse effectively creepy portrayal alberto mejia baron surprisingly take kindly strangers trespassing terrain director co writer pedro galindo iii relates gripping story steady pace creates good deal nerve rattling tension delivers fair amount graphic gore brutal murder set pieces nasty throat slicing hand blown shotgun rate definite gruesome splatter high...

,label,text,is_movie_related
1325274,1,watching tv whole fam,True
102878,1,dan real life great movie acting excellent steve especially rhode island pretty,True
423275,1,ok got date anymore keen watch debut e book keep,True
1301051,1,watching movie rooooommmmiieess,True
363047,1,4 ha thats crazyy btw watched hannah movie 4 third time since yesterday germany,True

In [15]:
# print(X_train_imdb.shape)
# print(type(X_train_imdb))

print(X_train_imdb[0].toarray())

[[0 0 0 ... 0 0 0]]

In [ ]:
#Now we build a "simple" convolutional neural network. 
from keras.models import Sequential
from keras.layers import Dense
def baseline_model():
    model = Sequential
    model.add(Dense())